.l-container {
    max-width: 1561px;
    margin-left: auto;
    margin-right: auto;

    &.is-flex {
        display: flex;
        justify-content: space-between;
    }

	@include mq(md) {
        
    }
}