.p-pagination {
  margin-top: 90px;
  $size-box: 40px;
  $size-box-sp: 30px;

  @include mq(sm) {
    margin-top: 8%;
  }

  .pagination {
    margin-top: -12px;

    .screen-reader-text {
      position: absolute;
      overflow: hidden;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
    }

    .nav-links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: -12px;
      text-align: center;


      .current {
        margin: 0;
        margin-left: 12px;
        margin-top: 12px;
        display: inline-block;
        width: $size-box;
        height: $size-box;
        border: none;
        background: $color-gray1;
        color: $color-white2;
        font-size: 1.6rem;
        line-height: $size-box;

        @include mq(sm) {
          margin-left: 10px;
          width: $size-box-sp;
          height: $size-box-sp;
          font-size: 1.2rem;
          line-height: $size-box-sp;
        }
      }

      .dots {
        margin: 0;
        margin-left: 12px;
        margin-top: 12px;
        display: inline-block;
        height: $size-box;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: $size-box;

        @include mq(sm) {
          margin-left: 10px;
          height: $size-box-sp;
          font-size: 1.2rem;
          line-height: $size-box-sp;
        }
      }


      a.page-numbers {
        margin: 0;
        margin-left: 12px;
        margin-top: 12px;
        display: inline-block;
        width: $size-box;
        height: $size-box;
        border: none;
        font-size: 1.6rem;
        text-decoration: none;
        line-height: $size-box;
        color: $color-pagenation-txt;
        background-color: $color-pagenation-bg1;
        transition-property: color background-color;
        transition-timing-function: $transition-timing-function;
        transition-duration: $transition-duration;

        @include mq(sm) {
          margin-left: 10px;
          width: $size-box-sp;
          height: $size-box-sp;
          font-size: 1.2rem;
          line-height: $size-box-sp;
        }

        &:hover,
        &:focus {
          transition: all 0.3s;
          color: $color-pagenation-hover-txt;
          background-color: $color-pagenation-hover-bg;
        }


        &.prev {
          margin-left: 0;
        }

        &.prev,
        &.next {
          width: $size-box;
          background-color: $color-white1;
          fill: $color-pagenation-txt;
          transition-property: fill color background-color;
          transition-timing-function: $transition-timing-function;
          transition-duration: $transition-duration;

          @include mq(sm) {
            width: $size-box-sp;
            font-size: 1.2rem;
          }


          &:hover,
          &:hover {
            background: $color-gray1;
            fill: $color-white2;
          }
        }
      }
    }
  }
}